@charset "utf-8";

/*
 * INDEX
 * 01 - HEADER
 * 02 - MAIN
 * 03 - VISUAL
 * 04 - NEWS
 * 05 - sub-visual
 * 06 - BRAND
 * 07 - STORE
 * 08 - THEME
 * 09 - FAQ
 * 10 - FOOTER
 */


/* ************************************** *
 * HEADER
 * ************************************** */  
header{
  width: 100%;  height: 76px;
  background: rgba(255, 255, 255, .2);
  line-height: 76px;
  text-align: center;
  position: absolute;
  z-index: 1;
}
header a{
  font-size: var(--Title-02);
  color: var(--White);
}

/* ************************************** *
 * MAIN
 * ************************************** */  
main{
  width: 100%;
  position: relative;
}

/* ************************************** *
 * MAIN/VISUAL
 * ************************************** */  
.visual{
  height: 910px;
  background: var(--Primary);
  box-sizing: border-box;
}
.visual .illust{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  top: 240px;
  position: absolute;
}
.visual .illust span{
  width: 100%; height: 260px;
  background: url(../img/visual.png) no-repeat center center;
  background-size: contain;
}
.visual .illust h2{
  width: 265px;
  margin: auto;
}
.visual .scroll{
  width: 156px;
  left: 0; right: 0; bottom: 110px;
}
.visual .scroll .arr span{
  border-top: 10px solid var(--Secondary-red);
}

/* ************************************** *
 * MAIN/NEWS
 * ************************************** */  
.news{
  padding: 80px 0 160px 0;
  box-sizing: border-box;
  background: url(../img/news_bg.png) no-repeat center center;
  background-size: cover;
  border-radius: 40px 40px 0 0;
  /* top: -80px; */
}
.news h2{
  width: 390px;
  display: flex;
}
.news h2 img{
  width: 136px;
  margin-bottom: var(--m-07);
}
.news h2::before{
  width: 62px; height: 70px;
  margin: -16px 8px 0 0;
  background: url(../img/icon_notice.png) no-repeat center center;
  background-size: contain;
  display: block;
  content: '';
}
.news .slide-wrap{
  width: 320px; height: 365px;
  padding: 10px 10px 60px 10px;
  box-sizing: border-box;
  border: 1px solid var(--Black);
  background-color: #fff;
  position: relative;
  box-shadow: 7px 7px rgba(34, 102, 235, .5);
}
.news .swiper-slide img{
  width: 100%;
}
.news .swiper-button-prev,
.news .swiper-button-next{
  z-index: 1;
  cursor: pointer;
}
.news .swiper-button-prev img{
  width: 80px;
  position: absolute;
  left: -30px; bottom: 0;
}
.news .swiper-button-next img{
  width: 90px;
  right: -30px; top: -30px;
  position: absolute;
}
.news .swiper-pagination {
  left: 0;  right: 0;  bottom: 30px;
}

/* ************************************** *
 * MAIN/sub-visual
 * ************************************** */  
.sub-visual{
  padding: 120px 0 250px 0;
  color: var(--White);
  border-radius: 40px 40px 0 0;
  background: url(../img/subvisual_bg.png) no-repeat top center;
  background-size: cover;
  /* top: -160px; */
}
.sub-visual::before{
  width: 100%; height: 100%;
  border-radius: 40px 40px 0 0;
  background: var(--Black-opacity);
  top: 0;
  position: absolute;
  content: '';
}
.sub-visual .heart span{
  background: url(../img/heart_dot.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  z-index: 1;
}
.sub-visual .heart span:nth-child(1){
  width: 84px; height: 63px;
  right: 40px; top: 40px;
}
.sub-visual .heart span:nth-child(2){
  width: 46px; height: 34px;
  left: 35px; top: 200px;
}
.sub-visual h2, .sub-visual p{
  text-align: center;
}
.sub-visual h2{
  margin-bottom: var(--m-03);
  font-size: var(--Title-04);
  line-height: 1.1;
}
.sub-visual p{
  margin-bottom: var(--m-08);
  font-size: var(--Body-03);
}
.sub-visual .sub-icon{
  width: 100%;
  font-size: var(--Body-02);
  display: flex;
  justify-content: space-between;
}
.sub-visual .sub-icon li {
  width: calc((100% - 1%)/3);
}
.sub-visual .sub-icon li figure{
  text-align: center;
}
.sub-visual .sub-icon li figure img{
  width: 95px;
}
.sub-visual .scroll{
  width: 222px;
  left: 0; right: 0; bottom: 50px;
}
.sub-visual .scroll .arr span{
  border-top: 10px solid var(--White);
}

/* ************************************** *
 * MAIN/BRAND
 * ************************************** */  
.brand{
  padding-top: 100px;
  background: var(--Black);
  color: var(--White);
  /* top: -160px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
.brand h2 img{
  width: 220px;
  padding: 0 5%;
}
.brand .park{
  width: 100%;
}
.brand .swiper .txt-box{
  width: 280px; height: 320px;
  margin: auto;
  background: var(--Black-opacity);
  padding: 45px 20px;
  box-sizing: border-box;
  top: 0; bottom: 0; left: 10px;
  position: absolute;
}
.brand .swiper span{
  margin-bottom: 8px;
  font-size: 1.75rem;
  font-weight: 700;
  display: block;
}
.brand .swiper p{
  margin-bottom: 28px;
  font-size: 1rem;
}
.brand .swiper .btn{
  margin-bottom: 28px;
}
/* .brand .park.swiper-pagination {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
.brand .swiper li{
  width: 100%; height: 568px;
  position: relative;
}
.brand .park li:nth-child(1){
  background: url(../img/brand_playpark.jpg) no-repeat center center;
  background-size: cover;
}
.brand .sports li:nth-child(1){
  background: url(../img/brand_sports.jpg) no-repeat center center;
  background-size: cover;
}
.brand .zoo li:nth-child(1){
  background: url(../img/brand_zoo.jpg) no-repeat center center;
  background-size: cover;
}

/* ************************************** *
 * MAIN/STORE
 * ************************************** */  
.store{
  padding: 80px 0 90px 0;
  background: var(--Black);
  color: var(--White);
}
.store h2{
  font-size: var(--Display-03);
  line-height: 1.1;
  margin-bottom: var(--m-03);
}
.store p{margin-bottom: var(--m-07);}
.store .swiper-wrapper{
  gap: var(--m-04);
}
.store .swiper-slide{
  display: flex;
  flex-direction: column;
}
/* 타이틀 */
.store .tit-wrap{
  width: 275px; height: 275px;
  margin-bottom: var(--m-05);
  left: -200px;
  position: relative;
}
.store .swiper-slide:nth-child(1) .tit-wrap{
  left: 0;
}
.store .tit-mask{
  width: 205px; height: 205px;
  transform: rotate(45deg);
  margin-bottom: var(--m-01);
  overflow: hidden;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  position: absolute;
}
.store .tit{
  width: 275px; height: 275px;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  left: -35px; right: 0; top: 0; bottom: 0;
  margin: auto;
  position: absolute;
}
.store .tit::before{
  width: 100%; height: 100%;
  background: url(../img/brand_playpark.jpg) no-repeat center ;
  background-size: cover;
  opacity: .2;
  border-radius: 20px;
  position: absolute;
  display: block;
  content: '';
}
/* 타이틀 모양 (정사각, 동그라미, 직사각) */
.store .diamond .tit-mask{
  border-radius: 20px;
}
.store .diamond .tit{
  background: var(--Secondary-violet);
  left: -35px; right: 0; top: 0; bottom: 0;
}
.store .circle .tit-mask{
  border-radius: 100%;
}
.store .circle .tit{
  background: var(--Secondary-blue);
}
/* 매장정보 */
.store .info{
  padding: 30px 20px 20px 20px;
  border-radius: 8px;
  background-color: var(--White);
}
.store .txt-wrap{
  margin-bottom: var(--m-01);
}
.store .txt-wrap .name{
  margin-bottom: var(--m-03);
  font-size: var(--Title-01);
  color: var(--Secondary-violet);
}
.store .txt-wrap li{
  margin-bottom: var(--m-02);
  font-size: var(--Body-08);
  color: var(--Black);
}
.store .txt-wrap li:last-child{
  margin-bottom: var(--m-06);
}
.store .button-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.store .button-wrap button{
  width: calc(50% - 4px); height: 60px;
}
.store .swiper-pagination{
  left: 0;  right: 0;  bottom: -35px;
}
/* ************************************** *
 * MAIN/THEME
 * ************************************** */  
.theme{
  padding: 80px 0 90px 0;
  background: var(--Black);
}
.theme h2{
  width: 215px;
  margin-bottom: var(--m-05);
}
.theme .swiper-wrapper{
  gap: 16px;
}
.theme .swiper-slide{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.theme a{
  padding: 40px 20px 20px 20px;
  box-sizing: border-box;
  color: var(--White);
  border-radius: 20px;
  display: block;
}
.theme .con1,.con2{
  display: flex;
  gap: 16px;
}
.theme .con1-01,.theme .con1-02,.theme .con2-01,.theme .con2-02{
  position: relative;
}
.theme .con1-01{width: 56%; height: 280px; background: var(--Secondary-violet);}
.theme .con1-02{width: 40%; height: 280px; background: var(--Secondary-pink);}
.theme .con2-01{width: 42%; height: 190px; background: var(--Primary);}
.theme .con2-02{width: 54%; height: 190px; background: var(--Secondary-blue);}
.theme .con1-01:before{background: url(../img/brand_playpark.jpg);}
.theme .con1-02:before{background: url(../img/brand_sports.jpg);}
.theme .con2-01:before{background: url(../img/brand_zoo.jpg);}
.theme .con2-02:before{background: url(../img/subvisual_bg.png);}
.theme .con1-01::before,.theme .con1-02::before,
.theme .con2-01::before,.theme .con2-02::before{
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  left: 0; top: 0;
  position: absolute;
  display: block;
  content: '';
}
.theme .swiper-pagination{
  left: 0;  right: 0;  bottom: -35px;
}

/* ************************************** *
 * MAIN/FAQ
 * ************************************** */
.faq .inner{
  padding: 80px 0 50px 0;
}
.faq h2{
  margin-bottom: var(--m-06);
  font-size: var(--Display-04);
}
.faq h2 span:nth-child(1){
  color: var(--Primary);
}
.faq .list{
  width: 100%;
  border-radius: 8px;
  background: var(--Gray-06);
}
.faq .dep1{
  padding: 15px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--Gray-05);
}
/* Q질문 타이틀 */
.faq .q{
  width: 100%;
  font-size: var(--Body-04);
  display: flex;
  align-items: start;
  position: relative;
}
.faq .q .ex-bold{
  color: var(--Primary);
  font-size: var(--Title-04);
  margin-right: var(--m-02);
}
.faq .q-txt{
  width: 80%;
  margin-top: var(--m-03);
}
.faq .close-ico{
  width: 28px; height: 28px;
  margin: var(--m-02);
  background: var(--Primary);
  border-radius: 100%;
  right: 0;
  position: absolute;
}
.faq .close-ico span{
  width: 16px; height: 2px;
  background: var(--White);
  border-radius: 100%;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  position: absolute;
}
.faq .close-ico span:nth-child(2){
  transform: rotate(-90deg);
}
.faq .dep1:hover .close-ico span:nth-child(1){
  transform: rotate(45deg);
}
.faq .dep1:hover .close-ico span:nth-child(2){
  transform: rotate(-45deg);
}

/* A대답 */
.faq .a-wrap{
  margin: var(--m-03) 0 var(--m-01);
  background: var(--White);
  border-radius: 8px;
  padding: 10px 12px;
  display: none;
}
.faq .dep1:hover .a-wrap{
  display: block;
}
.faq .a{
  display: flex;
}
.faq .a span{
  margin-right: var(--m-02);
  font-size: var(--Title-01);
  color: var(--Primary);
}
.faq .a p{
  margin-top: var(--m-01);
}
/* ************************************** *
 * FOOTER
 * ************************************** */  
footer{
  color: var(--White);
}
footer .contact{
  width: 100%;
  padding: 80px 0;
  background: var(--Primary);
  font-size: 1.25rem;
  display: flex; flex-direction: column; justify-content: center;
  position: relative;
}
footer .contact::before{
  width: 100%; height: 100%;
  background: url(../img/subvisual_bg.png) no-repeat top;
  background-size: cover;
  background-attachment: fixed;
  opacity: .17;
  position: absolute;
  display: block;
  content: '';
}
footer .contact ul li{margin-bottom: var(--m-03);}
footer .contact .bold{font-size: 1.5rem;}
footer .info{
  padding: 60px 0 50px 0; 
  background: var(--Gray-01);
  line-height: 1.6;
}
footer .copy{margin-top: var(--m-04); font-size: var(--Body-01);} 